## Dictionaries

    - This is representation of the data structure
        - HashMap
    - Properties
        - represented using {} or dict()

        - from python 3.6 onwards, the order of dict is maintained
            - In older versions, OrderedDict module should be used for the same
        - Any data type can be used for dict values
        - dict keys should be immutables only

In [1]:
empty_dict = {}
print(empty_dict, type(empty_dict))

empty_dict = dict()
print(empty_dict, type(empty_dict))

empty_set = set()
print(empty_set, type(empty_set))

{} <class 'dict'>
{} <class 'dict'>
set() <class 'set'>

In [2]:
other_set = {12, 34}
print(other_set, type(other_set))

other_dict = {12: 34, 34: 56}
print(other_dict, type(other_dict))

{34, 12} <class 'set'>
{12: 34, 34: 56} <class 'dict'>

In [3]:
dict_with_single_pair = {"a": 1}
print(dict_with_single_pair, type(dict_with_single_pair))

{'a': 1} <class 'dict'>

In [4]:
print(f"{len(dict_with_single_pair) =}")

len(dict_with_single_pair) =1

In [5]:
alphabhets = {"b": 2, "a": 1, "c": 3, "d": 4}

alphabhets

{'b': 2, 'a': 1, 'c': 3, 'd': 4}

In [6]:

"""
In python < 3.6, use below code to retaining the assigned order

import OrderedDict
alphabhets = OrderedDict.OrderedDict({'a': 1, 'b': 2, 'c': 3, 'd': 4})
print(alphabhets)
"""

"\nIn python < 3.6, use below code to retaining the assigned order\n\nimport OrderedDict\nalphabhets = OrderedDict.OrderedDict({'a': 1, 'b': 2, 'c': 3, 'd': 4})\nprint(alphabhets)\n"

In [7]:
person_details = {

}

print(type(person_details), person_details)

<class 'dict'> {}

In [8]:
person_details = {
    "name": "Gudo Van Russom",

}

print(type(person_details), person_details)

<class 'dict'> {'name': 'Gudo Van Russom'}

In [9]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,

}

print(type(person_details), person_details)

<class 'dict'> {'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12}

In [10]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,
    "children": ["mary", "John"],
    "parents": ("Sam Russom", "Michel Russom"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",

}

print(type(person_details), person_details)

<class 'dict'> {'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12, 'children': ['mary', 'John'], 'parents': ('Sam Russom', 'Michel Russom'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None'}

In [11]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,
    "children": ["mary", "John"],
    "parents": ("Sam Russom", "Michel Russom"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",
    [12, 23]: 'something',
}

print(type(person_details), person_details)

TypeError: unhashable type: 'list'

__NOTE:__  dict keys should be immutable and hashable

In [12]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,
    "children": ["mary", "John"],
    "parents": ("Sam Russom", "Michel Russom"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",
    tuple([12, 23]): 'something',
}

print(type(person_details), person_details)

<class 'dict'> {'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12, 'children': ['mary', 'John'], 'parents': ('Sam Russom', 'Michel Russom'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None', (12, 23): 'something'}

In [13]:
# mutable -- list, set, dict
# immutable -- basic  types (int, float, None, bool, str), tuple, frozenset

print(f"""  
    {hash(1) = }
    {hash(1.34) = }
    {hash(-0.34) = }

    {hash(None) = }
    
    {hash(True) = }
    {hash(False) = }
    
    {hash("Python") = }
    {hash((1, 2, 3)) = }


""")

    hash(1) = 1
    hash(1.34) = 783986623132656129
    hash(-0.34) = -783986623132656000

    hash(None) = 5875132440874

    hash(True) = 1
    hash(False) = 0

    hash("Python") = -7907217122015509258
    hash((1, 2, 3)) = 529344067295497451

In [14]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [15]:
res = (1, 2, 3, [4, 5])

type(res), res

(tuple, (1, 2, 3, [4, 5]))

In [16]:
hash(res)

TypeError: unhashable type: 'list'

In [17]:
# NOTE: Immutable and hashable objects can be stored as set values, and dict keys

In [18]:
print(person_details)

{'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12, 'children': ['mary', 'John'], 'parents': ('Sam Russom', 'Michel Russom'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None', (12, 23): 'something'}

In [19]:
person_details

{'name': 'Gudo Van Russom',
 'age': 67,
 'salary': 1233123.12,
 'children': ['mary', 'John'],
 'parents': ('Sam Russom', 'Michel Russom'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [20]:
# import pprint

from pprint import pprint

pprint(person_details)

{None: 'This is None',
 -1213.213: {33},
 1: [12, 3, 12],
 'age': 67,
 'children': ['mary', 'John'],
 'name': 'Gudo Van Russom',
 'parents': ('Sam Russom', 'Michel Russom'),
 'salary': 1233123.12,
 ('Dr', 'Mr'): 'titles',
 (12, 23): 'something'}

In [23]:
pprint?

Signature:
pprint(
    object,
    stream=None,
    indent=1,
    width=80,
    depth=None,
    *,
    compact=False,
    sort_dicts=True,
    underscore_numbers=False,
)
Docstring: Pretty-print a Python object to a stream [default is sys.stdout].
File:      ~/.python/current/lib/python3.10/pprint.py
Type:      function

In [25]:
pprint(person_details, indent=4)

{   None: 'This is None',
    -1213.213: {33},
    1: [12, 3, 12],
    'age': 67,
    'children': ['mary', 'John'],
    'name': 'Gudo Van Russom',
    'parents': ('Sam Russom', 'Michel Russom'),
    'salary': 1233123.12,
    ('Dr', 'Mr'): 'titles',
    (12, 23): 'something'}

In [21]:
from pprint import pp

pp(person_details)

{'name': 'Gudo Van Russom',
 'age': 67,
 'salary': 1233123.12,
 'children': ['mary', 'John'],
 'parents': ('Sam Russom', 'Michel Russom'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [22]:
pp?

Signature: pp(object, *args, sort_dicts=False, **kwargs)
Docstring: Pretty-print a Python object
File:      ~/.python/current/lib/python3.10/pprint.py
Type:      function

In [26]:
# NOTE:
# 1. general print() will retain dict order
# 2. pprint() will sort by keys and display
# 3. pp() will retain dict order, as created.

In [27]:
pp(person_details, indent=4)

{   'name': 'Gudo Van Russom',
    'age': 67,
    'salary': 1233123.12,
    'children': ['mary', 'John'],
    'parents': ('Sam Russom', 'Michel Russom'),
    1: [12, 3, 12],
    -1213.213: {33},
    ('Dr', 'Mr'): 'titles',
    None: 'This is None',
    (12, 23): 'something'}

### Iterating over Dictionaries

In [29]:
for each_char in "Python":
    print(each_char, end= " ")

P y t h o n

In [30]:
for each_char in [1, 11, 22, 33, 44]:
    print(each_char, end= " ")

1 11 22 33 44

In [31]:
for each_char in (1, 11, 22, 33, 44):
    print(each_char, end= " ")

1 11 22 33 44

In [33]:
for each_char in {1:11, 22:33, 44:55}:
    print(each_char)

1
22
44

In [34]:
for each_char in {1:11, 22:33, 44:55}.keys():
    print(each_char)

1
22
44

In [35]:
for each_char in {1:11, 22:33, 44:55}.values():
    print(each_char)

11
33
55

In [37]:
for each_pair in {1:11, 22:33, 44:55}.items():
    print(each_pair)

(1, 11)
(22, 33)
(44, 55)

In [38]:
person_details = {
    "name": "Narendra Modi",
    "age": 73,
    "salary": 2_00_000,
    "role": "CM of Gujarat",
    "role": "PM of India",  # latest will be stored
}
print(person_details)

{'name': 'Narendra Modi', 'age': 73, 'salary': 200000, 'role': 'PM of India'}

In [39]:
# To get the dictionary keys
print(f"{person_details.keys()  =}")

person_details.keys()  =dict_keys(['name', 'age', 'salary', 'role'])

In [40]:
type(person_details.keys() )

dict_keys

In [41]:
# To get the dictionary values
print(f"{person_details.values() =}")

person_details.values() =dict_values(['Narendra Modi', 73, 200000, 'PM of India'])

In [42]:
# To get both keys & values as pairs
print(f"{person_details.items() =}")

person_details.items() =dict_items([('name', 'Narendra Modi'), ('age', 73), ('salary', 200000), ('role', 'PM of India')])

In [43]:
print("\n Iterating over the dictionary ")
for each in person_details:
    print(each)

# NOTE: By default, when iterating over dict, it will give dict keys only

 Iterating over the dictionary
name
age
salary
role

In [44]:
print("\n person_details.keys()")
for each in person_details.keys():
    print(each)

 person_details.keys()
name
age
salary
role

In [45]:
print("\n person_details.values()")
for each in person_details.values():
    print(each)

 person_details.values()
Narendra Modi
73
200000
PM of India

In [46]:
print("\n person_details.items()")
for each in person_details.items():
    print(each)  # each - is a tuple object

 person_details.items()
('name', 'Narendra Modi')
('age', 73)
('salary', 200000)
('role', 'PM of India')

In [47]:
print("\n person_details.items()")
for each_key, each_value in person_details.items():
    print(f"{each_key}\t{each_value}")

 person_details.items()
name	Narendra Modi
age	73
salary	200000
role	PM of India

### Dict Operations

In [48]:
employee = {
    "name": "Saurav Ganguly",
    "status": "retired",
    "salary": 12_222_213,
    "strike_rate": 85 / 100,
}


employee

{'name': 'Saurav Ganguly',
 'status': 'retired',
 'salary': 12222213,
 'strike_rate': 0.85}

In [49]:
employee[0]

KeyError: 0

In [50]:
# Indexing in Dictionaries
print("Employee Name  :", employee["name"])
print("Employee Status:", employee["status"])

Employee Name  : Saurav Ganguly
Employee Status: retired

In [51]:
try:
    employee["no_of_centuries"]
except KeyError as ex:
    print(f"No such key :{str(ex)}")

No such key :'no_of_centuries'

##### Dictionaries are mutable

In [52]:
print(f"Before change: {id(employee) = }")

# Updating value for existing key
employee["status"] = "rejoined"

print("Employee Status:", employee["status"])
print(f"After change : {id(employee) = }")

Before change: id(employee) = 140399893171904
Employee Status: rejoined
After change : id(employee) = 140399893171904

In [53]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85}

In [54]:
# To add a new key
employee["no_of_centuries"] = 345

employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345}

In [55]:
# Difference ways of indexing
# Question: dict['key'] vs dict.get() vs dict.setdefault

In [56]:
print(f"{employee['strike_rate'] =}")

try:
    print(f"{employee['no_of_catches'] =}")
except KeyError as ex:
    print(f"No such key :{str(ex)}")

employee['strike_rate'] =0.85
No such key :'no_of_catches'

In [57]:
print(f"{employee.get('strike_rate')                    =}")
print(f"{employee.get('no_of_catches')                  =}")

employee.get('strike_rate')                    =0.85
employee.get('no_of_catches')                  =None

In [58]:
# NOTE: dict.get() - returns None if key is not present
print(f"{employee.get('no_of_catches', None)            =}")
print(f"{employee.get('no_of_catches', 'No such key')   =}")
print(f"{employee.get('no_of_catches', 234)             =}")

employee.get('no_of_catches', None)            =None
employee.get('no_of_catches', 'No such key')   ='No such key'
employee.get('no_of_catches', 234)             =234

In [59]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345}

In [60]:
print(f"{employee.setdefault('strike_rate')        =}")
print(f"{employee.setdefault('no_of_catches')      =}")  # default is None

employee.setdefault('strike_rate')        =0.85
employee.setdefault('no_of_catches')      =None

In [61]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None}

In [62]:
print(f"{employee.setdefault('no_of_catches', 234) =}")
# As this key is present now, default values is not taken
employee

employee.setdefault('no_of_catches', 234) =None

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None}

In [63]:
employee.setdefault('ODI_matches_played', 155)

155

In [64]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None,
 'ODI_matches_played': 155}

In [65]:
#  in - operator - membership check
print(f"{'no_of_catches' in employee            =}")
print(f"{employee.__contains__('no_of_catches')   =}")

'no_of_catches' in employee            =True
employee.__contains__('no_of_catches')   =True

In [66]:
print(f"{'no_of_wickets' in employee            =}")
print(f"{employee.__contains__('no_of_wickets') =}")

'no_of_wickets' in employee            =False
employee.__contains__('no_of_wickets') =False

In [67]:
if "no_of_catches" in employee:
    print("no_of_catches:", employee["no_of_catches"])
else:
    print("No such key")

no_of_catches: None

### Another Example

In [68]:
language = dict()

language

{}

In [69]:
# add new keys
language["name"] = "Python"
language["creator"] = "Gudo Van Russum"

In [70]:
language

{'name': 'Python', 'creator': 'Gudo Van Russum'}

In [71]:
# add single key value pair
language["latest_version"] = "2.7.16"

In [72]:
language

{'name': 'Python', 'creator': 'Gudo Van Russum', 'latest_version': '2.7.16'}

In [73]:
# Add more key-value pair in bulk
python_dict = {
    "name": "Python",
    "maintainer": "Almighty",
    "latest_version": "3.8.5",
    "dev_version": "3.9",
}
pp(python_dict)

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [74]:
# Dictionary concatenation
language + python_dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
print("\n After update")
language.update(python_dict)

 After update

In [76]:
language

{'name': 'Python',
 'creator': 'Gudo Van Russum',
 'latest_version': '3.8.5',
 'maintainer': 'Almighty',
 'dev_version': '3.9'}

In [77]:
python_dict

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [79]:
dt = {
    "name": "Python",
    "lang": "py"
}

dt.update({
    "name": "Django",
    "version": 3.4
})

dt

{'name': 'Django', 'lang': 'py', 'version': 3.4}

In [80]:
# NOTE:
# 1. first dictionary is modified, and not the second one
# 2. If keys are present, values will be updates,
#  else new key-values pairs will be created

In [81]:
# For deleting key-value pairs
# dict.pop(), dict.popitem()

python_dict

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [82]:
print(f"{python_dict.pop('maintainer') =}")

python_dict

python_dict.pop('maintainer') ='Almighty'

{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9'}

In [83]:
try:
    print(f"{python_dict.pop('maintainer') =}")
except KeyError as ex:
    print("no such key", ex)

no such key 'maintainer'

In [84]:
print(f"{python_dict.pop('maintainer', None) =}")
print(f"{python_dict.pop('maintainer', 'no such key') =}")

python_dict.pop('maintainer', None) =None
python_dict.pop('maintainer', 'no such key') ='no such key'

In [85]:
python_dict

{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9'}

In [86]:
print(f"{python_dict.pop('latest_version', 'no such key') =}")

python_dict.pop('latest_version', 'no such key') ='3.8.5'

In [87]:
# last key-value pair will be deleted -- dict.popitem()

mydict = {"a": "apple", "b": "ball", "c": "cat"}

mydict

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [88]:
mydict.popitem()

('c', 'cat')

In [89]:
mydict

{'a': 'apple', 'b': 'ball'}

In [90]:
mydict.popitem()

('b', 'ball')

In [91]:
mydict

{'a': 'apple'}

In [92]:
mydict.popitem()

('a', 'apple')

In [93]:
mydict

{}

In [94]:
mydict.popitem()

KeyError: 'popitem(): dictionary is empty'

In [95]:
python_dict

{'name': 'Python', 'dev_version': '3.9'}

In [96]:
del python_dict["name"]

python_dict

{'dev_version': '3.9'}

In [97]:
pd = python_dict.copy()  # shallow copy

pd

{'dev_version': '3.9'}

In [98]:
python_dict.clear()

python_dict

{}

In [99]:
pd

{'dev_version': '3.9'}

In [100]:
del python_dict

del pd

In [101]:
python_dict

NameError: name 'python_dict' is not defined

#### Merging two dicts

In [103]:
a = {"one": 1}
b = {"one": 2, "two": 2}

print(a, b)

{'one': 1} {'one': 2, 'two': 2}

In [104]:
# Dict unpacking
c = {**a, **b}
print(f"{c =}")  # {'one': 2, 'two': 2}

c ={'one': 2, 'two': 2}

In [105]:
import collections

c2 = collections.ChainMap(a, b)
print(f"{c2=}")

c2=ChainMap({'one': 1}, {'one': 2, 'two': 2})

In [106]:
# Python 3.9+
d = a | b
print(f"{d = }")

d = {'one': 2, 'two': 2}

In [107]:
print(f"{a = }")
print(f"{b = }")

a |= b    # a.update(b)
print(f"{a = }")
print(f"{b = }")

a = {'one': 1}
b = {'one': 2, 'two': 2}
a = {'one': 2, 'two': 2}
b = {'one': 2, 'two': 2}

In [108]:
# set Union Is Not Commutative
print({0} | {False})  # {0}
print({False} | {0})  # {False}

{0}
{False}

In [109]:
print({0: "0"} | {False: "False"})  # {0: 'False'}
print({False: "False"} | {0: "0"})  # {False: '0'}

{0: 'False'}
{False: '0'}

In [110]:
mydict = {0:"zero", False:"False", 1:"one", True: "True"}

mydict

{0: 'False', 1: 'True'}

In [111]:
mydict = {False:"False", 0:"zero", True: "True", 1:"one" }

mydict

{False: 'zero', True: 'one'}

#### fromkeys

In [112]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,
    "children": ["mary", "John"],
    "parents": ("Sam Russom", "Michel Russom"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",
    tuple([12, 23]): 'something',
}

print(type(person_details), person_details)

<class 'dict'> {'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12, 'children': ['mary', 'John'], 'parents': ('Sam Russom', 'Michel Russom'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None', (12, 23): 'something'}

In [113]:
# replicas - To get the keys of existing dictionary to new dict
new_person_details = {}
new_person_details.fromkeys(person_details)

{'name': None,
 'age': None,
 'salary': None,
 'children': None,
 'parents': None,
 1: None,
 -1213.213: None,
 ('Dr', 'Mr'): None,
 None: None,
 (12, 23): None}

In [114]:
new_person_details

{}

In [115]:
new_person_details = new_person_details.fromkeys(person_details)


new_person_details

{'name': None,
 'age': None,
 'salary': None,
 'children': None,
 'parents': None,
 1: None,
 -1213.213: None,
 ('Dr', 'Mr'): None,
 None: None,
 (12, 23): None}

In [116]:
new_person_details = new_person_details.fromkeys(person_details, None)

new_person_details

{'name': None,
 'age': None,
 'salary': None,
 'children': None,
 'parents': None,
 1: None,
 -1213.213: None,
 ('Dr', 'Mr'): None,
 None: None,
 (12, 23): None}

In [117]:
new_person_details = new_person_details.fromkeys(person_details, "None")

new_person_details

{'name': 'None',
 'age': 'None',
 'salary': 'None',
 'children': 'None',
 'parents': 'None',
 1: 'None',
 -1213.213: 'None',
 ('Dr', 'Mr'): 'None',
 None: 'None',
 (12, 23): 'None'}

In [118]:
new_person_details = new_person_details.fromkeys(person_details, "")

new_person_details

{'name': '',
 'age': '',
 'salary': '',
 'children': '',
 'parents': '',
 1: '',
 -1213.213: '',
 ('Dr', 'Mr'): '',
 None: '',
 (12, 23): ''}

### ways of creating dictionary

In [119]:
a = {"one": 1, "two": 2, "three": 3}
b = dict(one=1, two=2, three=3)
c = dict([("two", 2), ("one", 1), ("three", 3)])
d = dict(zip(["one", "two", "three"], [1, 2, 3]))
e = dict({"three": 3, "one": 1, "two": 2})

assert a == b == c == d == e

In [120]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [121]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [122]:
set("Python")

{'P', 'h', 'n', 'o', 't', 'y'}

In [123]:
dict("Python")

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [124]:
dict("Python", "Python")

TypeError: dict expected at most 1 argument, got 2

In [125]:
zip("Python", "Python")

In [126]:
list(zip("Python", "Python"))

[('P', 'P'), ('y', 'y'), ('t', 't'), ('h', 'h'), ('o', 'o'), ('n', 'n')]

In [127]:
dict(zip("Python", "Python"))

{'P': 'P', 'y': 'y', 't': 't', 'h': 'h', 'o': 'o', 'n': 'n'}

In [128]:
data = [(1, "red"), (2, "blue"), (3, "yellow")]
print(dict(data))

{1: 'red', 2: 'blue', 3: 'yellow'}

In [129]:
data = [("red", 1), ("blue", 2), ("yellow", 3)]
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [130]:
data = (("red", 1), ("blue", 2), ("yellow", 3))
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [131]:
data = (["red", 1], ["blue", 2], ("yellow", 3))
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [132]:
data = (['red', 1, 'A'], ['blue', 2, 'B'], ('yellow', 3, "C"))
print(dict(data))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [133]:
data = (["red", (1, "A")], ["blue", (2, "B")], ("yellow", (3, "C")))
print(dict(data))

{'red': (1, 'A'), 'blue': (2, 'B'), 'yellow': (3, 'C')}

In [134]:
data = ([("red", 1), "A"], [("blue", 2), "B"], ("yellow", (3, "C")))
print(dict(data))

{('red', 1): 'A', ('blue', 2): 'B', 'yellow': (3, 'C')}

In [135]:
cities = ("New Delhi", "New York", "Shangai", "Berlin")
countries = ["India", "USA", "China", "Germany"]

# NOTE: never take as a set, as order is not preserved

In [136]:
zip(cities, countries)

In [137]:
list(zip(cities, countries))

[('New Delhi', 'India'),
 ('New York', 'USA'),
 ('Shangai', 'China'),
 ('Berlin', 'Germany')]

In [138]:
dict(zip(cities, countries))

{'New Delhi': 'India',
 'New York': 'USA',
 'Shangai': 'China',
 'Berlin': 'Germany'}

In [139]:
cities_n_countries = dict(zip(cities, countries))
pprint(cities_n_countries)

counties_n_cities = dict(zip(countries, cities))
pprint(counties_n_cities)

{'Berlin': 'Germany',
 'New Delhi': 'India',
 'New York': 'USA',
 'Shangai': 'China'}
{'China': 'Shangai',
 'Germany': 'Berlin',
 'India': 'New Delhi',
 'USA': 'New York'}

In [140]:
print(dict(zip("Python", range(6))))
print(dict(zip("Python", "fish")))

{'P': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}
{'P': 'f', 'y': 'i', 't': 's', 'h': 'h'}

In [141]:
list(zip("Python", "Programming"))

[('P', 'P'), ('y', 'r'), ('t', 'o'), ('h', 'g'), ('o', 'r'), ('n', 'a')]

In [142]:
list(zip("12345", "1234567"))

[('1', '1'), ('2', '2'), ('3', '3'), ('4', '4'), ('5', '5')]

In [143]:
list(zip("12345", "123"))

[('1', '1'), ('2', '2'), ('3', '3')]

In [144]:
# question - How to reverse the key -values as values-keys

my_dict = dict(zip((1, 2, 3, 4), "abcdef"))
print(my_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [147]:
reverse_dict = {}
for each_key, each_value in my_dict.items():
    # print(each_key, each_value)
    # reverse_dict[each_key] = each_value
    reverse_dict[each_value] = each_key

reverse_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
sentence = """Python is a wonderful language.
we can solve any
computational problem with this language"""