# Arithmetic Operations

    Integer Family
        - int
        - long -> only in python 2.x
        - float

        - complex
        - bool

In [1]:
# = assignment operator
num1 = 100  # int
num2 = 123  # int

In [2]:
num3 = num2

In [3]:
1233 = num4

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (978278175.py, line 1)

In [4]:
print("num1 =", num1, type(num1))
print("num2 =", num2, type(num2))
print("num3 =", num3, type(num3))

num1 = 100 <class 'int'>
num2 = 123 <class 'int'>
num3 = 123 <class 'int'>

In [5]:
# 1. Addition
num3 = num1 + num2  # int + int = int
print("num3 =", num3, type(num3))

num3 = 223 <class 'int'>

In [6]:
num4 = -1.0  # float
print("num4=", num4, type(num4))

num4 = 1.0  # float
print("num4=", num4, type(num4))

num4 = -1.2342342342  # float
print("num4=", num4, type(num4))

num4= -1.0 <class 'float'>
num4= 1.0 <class 'float'>
num4= -1.2342342342 <class 'float'>

In [7]:
num5 = num1 + num4  # int + float = float
print("num5=", num5, type(num5))

num5= 98.7657657658 <class 'float'>

In [8]:
# Question 1: what is the largest number that can be processed in python
num6 = 99999999564564343443432423432324234234234234234234324324234341232323232423423423423423423432432423434123232323
print("num6=", num6, type(num6))

num6= 99999999564564343443432423432324234234234234234234324324234341232323232423423423423423423432432423434123232323 <class 'int'>

In [9]:
# Question 2: what is the smallest number that can be processed in python
num6 = 0.00002130213869388792183798798321989812739
print("num6=", num6, type(num6))

num6= 2.130213869388792e-05 <class 'float'>

In [12]:
num7 = 0.1000012130123021312378787687687687687687687687
num7

0.10000121301230214

In [13]:
from decimal import Decimal

num7 = Decimal("0.1000012130123021312378787687687687687687687687")
num7

Decimal('0.1000012130123021312378787687687687687687687687')

In [14]:
num8 = 10/3

num8

3.3333333333333335

In [15]:
from fractions import Fraction

num8 = Fraction(10/3)
num8

Fraction(7505999378950827, 2251799813685248)

In [16]:
# Arithmetic Operations
print("123 + 100 = ", 123 + 100)
print("123 - 100 = ", 123 - 100)
print("123 * 100 = ", 123 * 100)
print("123 / 100 = ", 123 / 100)

123 + 100 =  223
123 - 100 =  23
123 * 100 =  12300
123 / 100 =  1.23

In [17]:
print("10/2 = ", 10 / 2)
print("10/5 = ", 10 / 5)
print("10/3 = ", 10 / 3)
# NOTE: division result will be floating point every time

10/2 =  5.0
10/5 =  2.0
10/3 =  3.3333333333333335

```
    3 ) 10  ( 3.3
        9
        --
        10
        9
        ---


    3) 10(3  <-- Quotient  //
        9
    --
        1  <-- Remainder  %
```

In [18]:
print("10 // 3 = ", 10 // 3)  # quotient - floor division
print("10 % 3  = ", 10 % 3)  # remainder - modulo division

print("divmod(10, 3)=", divmod(10, 3))  # //, %

10 // 3 =  3
10 % 3  =  1
divmod(10, 3)= (3, 1)