## Data Type Conversions
    - int, float, complex, boolean, string, None

In [1]:
num = 12
print("num=", num, type(num))

num= 12 <class 'int'>

In [2]:
num = 12.45
print("num=", num, type(num))

num= 12.45 <class 'float'>

#### Buitlin functions for conversions
    int()

In [3]:
int(12)

12

In [4]:
int(12.3)

12

In [5]:
int(True)

1

In [6]:
int(False)

0

In [7]:
int(None)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [8]:
int("12")

12

In [9]:
int("-0.0002378732")

ValueError: invalid literal for int() with base 10: '-0.0002378732'

In [10]:
int("TWO")

ValueError: invalid literal for int() with base 10: 'TWO'

NOTE: int() can convert int, float, int as string, boolean

- float()

In [12]:
print(
    float(12),
    float(12.3),
    float("12"),
    float("12.3"),
    float(-123.2131),
    float("-123.2131"),
)

12.0 12.3 12.0 12.3 -123.2131 -123.2131

In [13]:
float("inf")  # creation of infinite value

inf

In [17]:
float("-Infinity")

-inf

In [14]:
float("-inf")

-inf

In [15]:
int("inf")

ValueError: invalid literal for int() with base 10: 'inf'

In [16]:
float("TWO")

ValueError: could not convert string to float: 'TWO'

In [18]:
float("   -12345\n")  # ONLY whitespace characters

-12345.0

In [19]:
float("   -12345car")

ValueError: could not convert string to float: '   -12345car'

In [20]:
int("   -12345\n")

-12345

### Int Notation
        int - decimal       - int() -base 10  (0-9)
            - binary        - bin() -base  2  (0-1)
            - hexadecimal   - hex() - base 16 (0-9 A-F)
            - octal         - oct() - base 8  (0-7)


            128 64 32 16 8 4 2 1
        8     0  0  0  0 1 0 0 0
        9     0  0  0  0 1 0 0 1
       10     0  0  0  0 1 0 1 0
       11     0  0  0  0 1 0 1 1
       12     0  0  0  0 1 1 0 0

       68     0  1  0  0 0 1 0 0

In [21]:
bin(8)

'0b1000'

In [22]:
bin(9)

'0b1001'

In [23]:
bin(68)

'0b1000100'

In [24]:
res = bin(68)

print(res, type(res))

0b1000100 <class 'str'>

In [28]:
int(1000100), int("1000100")

(1000100, 1000100)

In [34]:
int(1000100), int("1000100")

(1000100, 1000100)

In [29]:
int("0b1000100")

ValueError: invalid literal for int() with base 10: '0b1000100'

In [30]:
int("0b1000100", base=2)

68

In [35]:
int(bin(64), base=2)  # int -> bin -> int

64

In [43]:
# binary -> decimal form
print("0b1001", int("0b1001", base=0))  # 9
print("1001  ", int("1001", base=0))  # 1001
print("bin(9)", int(bin(9), base=0))  # 9

0b1001 9
1001   1001
bin(9) 9

In [44]:
print((9).bit_length())  # 4 <- '0b1001'
print((23).bit_length())  # 5 <- '0b10111'

4
5

In [36]:
hex(10)

'0xa'

In [41]:
for i in range(20):
    print(i, bin(i), hex(i), oct(i))

0 0b0 0x0 0o0
1 0b1 0x1 0o1
2 0b10 0x2 0o2
3 0b11 0x3 0o3
4 0b100 0x4 0o4
5 0b101 0x5 0o5
6 0b110 0x6 0o6
7 0b111 0x7 0o7
8 0b1000 0x8 0o10
9 0b1001 0x9 0o11
10 0b1010 0xa 0o12
11 0b1011 0xb 0o13
12 0b1100 0xc 0o14
13 0b1101 0xd 0o15
14 0b1110 0xe 0o16
15 0b1111 0xf 0o17
16 0b10000 0x10 0o20
17 0b10001 0x11 0o21
18 0b10010 0x12 0o22
19 0b10011 0x13 0o23

In [42]:
for i in range(20000, 20010):
    print(i, bin(i), hex(i), oct(i))

20000 0b100111000100000 0x4e20 0o47040
20001 0b100111000100001 0x4e21 0o47041
20002 0b100111000100010 0x4e22 0o47042
20003 0b100111000100011 0x4e23 0o47043
20004 0b100111000100100 0x4e24 0o47044
20005 0b100111000100101 0x4e25 0o47045
20006 0b100111000100110 0x4e26 0o47046
20007 0b100111000100111 0x4e27 0o47047
20008 0b100111000101000 0x4e28 0o47050
20009 0b100111000101001 0x4e29 0o47051

In [45]:
# Octal -> 0-7
# decimal -> octal
print("oct(9)  ", oct(9))  # '0o11'
print("oct(-23)", oct(-23))  # '-0o27'

oct(9)   0o11
oct(-23) -0o27

In [46]:
# octal -> decimal
print(int(oct(9), base=8))  # 9
print(int("0o11", base=8))  # 9
print(int("11", base=8))  # 9
print(int("11"))  # 11

9
9
9
11

In [47]:
# Hexadecimal - 0-9 A-F
# decimal -> hexadecimal
print("hex(9)  ", hex(9))  # '0x9'
print("hex(-23)", hex(-23))  # '-0x17'

hex(9)   0x9
hex(-23) -0x17

In [48]:
# hexadecimal -> decimal
print(int(hex(-23), base=16))  # -23
print(int("-0x17", base=16))  # -23
print(int("-17", base=16))  # -23
print(int("-17"))  # -17

-23
-23
-23
-17

In [49]:
# Checks ##################
# is_integer -> Return True if the float is an integer.
print((-2.0).is_integer())  # True
print((-2.1).is_integer())  # False
print((-1.9999).is_integer())  # False

True
False
False

In [50]:
# ---- roman numbers
print(int("42"))  # 42
print(int("४२"))  # 42
print(int("٤٢"))  # 42
print(int("४२", 16))  # 66
print(int("४२", base=16))  # 66

42
42
42
66
66

In [51]:
# Telugu numbers
for num in ["౦", "౧", "౨", "౩", "౪", "౫", "౬", "౭", "౮", "౯"]:
    print(num, int(num, base=16))

# Ref: https://unicode-table.com/

౦ 0
౧ 1
౨ 2
౩ 3
౪ 4
౫ 5
౬ 6
౭ 7
౮ 8
౯ 9

 - str()
    - Any data type can be converted to an string

In [52]:
# int
str(1)
str(-1231)

# float
str(21.23)
str(-123.1231)

# str
str("12")
str("21.12")
str("TWO")
str("udhay")

# bool
str(True)
str(False)

# None
str(None)

'None'