## Lists


    List is representing using [].
    Lists can store any no.of different data types together.
    List can be classified as single-dimensional and multi-dimensional.
    List is a mutable object, which means elements in list can be changed.
    It can store asymmetric data types

In [2]:
val = 1

print(type(val), val)

<class 'int'> 1

In [3]:
val = 1.23

print(type(val), val)

<class 'float'> 1.23

In [4]:
val = [1.23]

print(type(val), val)

<class 'list'> [1.23]

In [5]:
empty_list = []
print(f"{type(empty_list)} {empty_list = }")
print(f"{len(empty_list) =}")

<class 'list'> empty_list = []
len(empty_list) =0

In [6]:
# Homogenous list
numbers = [12, 334, 23, 2, -323]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 334, 23, 2, -323]
len(numbers) =5

In [7]:
# non-homogenous
numbers = [12, 3.4, -0.00004, 434243432432, "abc", True, 4 + 55 / 6, "4 + 55 / 6"]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 3.4, -4e-05, 434243432432, 'abc', True, 13.166666666666666, '4 + 55 / 6']
len(numbers) =8

In [8]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

In [9]:
print(f"\n{type(ml)} {ml =}")
print(f"{len(ml) =}")

<class 'list'> ml =[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
len(ml) =6

In [10]:
print(f"{type(ml[3])} {ml[3] =}")
print(f"{type(ml[4])} {ml[4] =}")

<class 'float'> ml[3] =4.3
<class 'int'> ml[4] =5

In [11]:
print(f'{type(ml[6])} {ml[6] =}')

IndexError: list index out of range

In [12]:
print(f"\n{type(ml[5])} {ml[5] =}")
print(f"{type(ml[5][1])} {ml[5][1] =}")
print(f"{type(ml[5][3])} {ml[5][3] =}")
print(f"{type(ml[5][3][1])} {ml[5][3][1] =}") # ml is a 3-dimensional list

<class 'list'> ml[5] =[6, 7, 8, (9, 10)]
<class 'int'> ml[5][1] =7
<class 'tuple'> ml[5][3] =(9, 10)
<class 'int'> ml[5][3][1] =10

In [13]:
# forward vs reverse indexing
# [1, 2, 3, 4.3, 5, [6,  7,  8, (9, 10)]]
# -6 -5  -4  -3  -2  ------- -1 -------  - reverse indexing
#                   -4  -3  -2  -- -1 --
#                               -2  -1

# 0  1  2   3   4  -------5--------- - forward indexing

In [14]:
print("\nml[-5]       ", ml[-5])
print("ml[-1]       ", ml[-1])
print("ml[-1][-1]   ", ml[-1][-1])
print("ml[-1][-1][0]", ml[-1][-1][0])

ml[-5]        2
ml[-1]        [6, 7, 8, (9, 10)]
ml[-1][-1]    (9, 10)
ml[-1][-1][0] 9

In [15]:
print(ml[-5] == ml[1])
assert ml[-5] == ml[1]

True

In [ ]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

In [17]:
# Slicing - last value in boundary will not be included
print("\nml[1:4]      ", ml[1:4])

ml[1:4]       [2, 3, 4.3]

In [18]:
print("ml[1:4:2]    ", ml[1:4:2])

ml[1:4:2]     [2, 4.3]

### Mutability of Lists
    - Objects that sort inplace changes

In [19]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 139882723885968

num1 =1234 <class 'int'> id(num1)=139882723885968

In [20]:
num1 = 9999
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 139882723886352 # OVERWRITING

num1 =9999 <class 'int'> id(num1)=139882723886352

In [21]:
print("\nString is a immutable object ===")
name = "Raj Sekhar"
print(f"name         :{name}")
print(f"name[0:3]    :{name[0:3]}")

String is a immutable object ===
name         :Raj Sekhar
name[0:3]    :Raj

In [22]:
name[0:3] = 'Tej'

TypeError: 'str' object does not support item assignment

In [23]:
print("id(name)", id(name))
name ="Tej Sekhar"
print("id(name)", id(name))

id(name) 139882484995952
id(name) 139882486672496

In [24]:
name

'Tej Sekhar'

In [25]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  --------5--------
#                       0  1  2   --3--
#                                 0   1


print("List is a mutable object =======")
print("ml           ", ml)  # value
print("type(ml)     ", type(ml))  # data type
print("id(ml)       ", id(ml))  # address location - 139882485135808

List is a mutable object =======
ml            [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
type(ml)      <class 'list'>
id(ml)        139882485135808

In [26]:
print(f"{ml[3] = }")

ml[3] = 4.3

In [27]:
ml[3] = 3.4
print("ml           ", ml)
print("id(ml)       ", id(ml))

ml            [1, 2, 3, 3.4, 5, [6, 7, 8, (9, 10)]]
id(ml)        139882485135808

In [28]:
ml[1:4]

[2, 3, 3.4]

In [29]:
ml[1:4] = [2, 2, 2]

print("ml           ", ml)
print("id(ml)       ", id(ml))

ml            [1, 2, 2, 2, 5, [6, 7, 8, (9, 10)]]
id(ml)        139882485135808

### List Attributes

In [30]:
numbers = [88, 99, 666]
print("type(numbers)    =", type(numbers))
print("dir(numbers)     =", dir(numbers))

type(numbers)    = <class 'list'>
dir(numbers)     = ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [31]:
print("len(numbers)            =", len(numbers))
print("numbers.__len__()       =", numbers.__len__())
assert len(numbers) == numbers.__len__()

len(numbers)            = 3
numbers.__len__()       = 3

In [32]:
str(numbers)

'[88, 99, 666]'

In [34]:
numbers.__str__()

'[88, 99, 666]'

In [35]:
assert str(numbers) == numbers.__str__()

In [36]:
# List Repetion operation

numbers * 3

[88, 99, 666, 88, 99, 666, 88, 99, 666]

In [37]:
numbers.__mul__(3)

[88, 99, 666, 88, 99, 666, 88, 99, 666]

In [39]:
assert numbers * 3 ==  numbers.__mul__(3)

In [40]:
numbers

[88, 99, 666]

In [41]:
# original object IS modified
print("numbers.__imul__(3) =", numbers.__imul__(3))   # numbers *= 3
print("numbers             =", numbers)

numbers.__imul__(3) = [88, 99, 666, 88, 99, 666, 88, 99, 666]
numbers             = [88, 99, 666, 88, 99, 666, 88, 99, 666]

In [42]:
# list concatenation

numbers

[88, 99, 666, 88, 99, 666, 88, 99, 666]

In [46]:
alphabets = ["b", "c"]

In [47]:
numbers + alphabets

[88, 99, 666, 88, 99, 666, 88, 99, 666, 'b', 'c']

In [48]:
alphabets  + numbers

['b', 'c', 88, 99, 666, 88, 99, 666, 88, 99, 666]

In [49]:
numbers + alphabets !=  alphabets + numbers

True

In [50]:
numbers.__add__(alphabets)

[88, 99, 666, 88, 99, 666, 88, 99, 666, 'b', 'c']

In [51]:
assert numbers + alphabets == numbers.__add__(alphabets)
assert alphabets + numbers == alphabets.__add__(numbers)

In [52]:
numbers

[88, 99, 666, 88, 99, 666, 88, 99, 666]

In [54]:
numbers.__iadd__(alphabets)  # numbers += alphabets

[88, 99, 666, 88, 99, 666, 88, 99, 666, 'b', 'c']

In [55]:
numbers

[88, 99, 666, 88, 99, 666, 88, 99, 666, 'b', 'c']

In [56]:
# Membership check -in
print("numbers.__contains__(12) =", numbers.__contains__(12))
print("12 in numbers            =", 12 in numbers)

numbers.__contains__(12) = False
12 in numbers            = False

In [57]:
print("numbers.__contains__('b') =", numbers.__contains__("b"))
print("'b' in numbers            =", "b" in numbers)

numbers.__contains__('b') = True
'b' in numbers            = True

In [58]:
import sys

print(f"{numbers.__sizeof__()  =}")  # bytes
print(f"{sys.getsizeof(numbers)=}")  # bytes - object + c header
# python favours - Jython(java), Cpython(c), Ironthon(.net)

numbers.__sizeof__()  =168
sys.getsizeof(numbers)=184

In [59]:
# Assignmnet -- repeat the same for all basic data types and data structures - Lits, tuple, set and dict

In [61]:
print(numbers.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [63]:
help(numbers)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [69]:
for each_attribute in dir(numbers):
    if not each_attribute.startswith("__"):
        print(each_attribute)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [70]:
numbers

[88, 99, 666, 88, 99, 666, 88, 99, 666, 'b', 'c']

In [71]:
numbers.count(99)

3

In [72]:
numbers.count([99])

0

In [73]:
numbers.count(67)

0

In [74]:
mylist = [1, 2, [1, 2, [1, 2]]]
#         0  1  ------2-------

mylist.count(2)

1

In [77]:
mylist = [11, 22, 33]

mylist

[11, 22, 33]

In [78]:
mylist.append(44)

mylist

[11, 22, 33, 44]

In [79]:
mylist.append("55")

mylist

[11, 22, 33, 44, '55']

In [80]:
mylist.append([66, 77, 88])

mylist

[11, 22, 33, 44, '55', [66, 77, 88]]

In [81]:
mylist.extend(99)

TypeError: 'int' object is not iterable

In [82]:
# Iterables -- string, list, tuple, set, dict, range, ...

mylist.extend([99])

mylist

[11, 22, 33, 44, '55', [66, 77, 88], 99]

In [83]:
mylist.extend("100")

mylist

[11, 22, 33, 44, '55', [66, 77, 88], 99, '1', '0', '0']

In [84]:
mylist.append("101")

mylist

[11, 22, 33, 44, '55', [66, 77, 88], 99, '1', '0', '0', '101']

In [85]:
# NOTE: Both list.append and list.extend CAN add at the end of list only
# 1. list.append - can take single element, or an iterable. Adds as it is
# 2. list.extend will take only iterable. Adds to same dimension

In [86]:
mylist = [11, 22, 33]
#         0   1   2
mylist

[11, 22, 33]

In [87]:
mylist.insert(0, 44)

mylist

[44, 11, 22, 33]

In [88]:
mylist.insert(2, 55)

mylist

[44, 11, 55, 22, 33]

In [89]:
mylist.insert(-1, 66)

mylist

[44, 11, 55, 22, 66, 33]

In [90]:
mylist.insert(len(mylist), 77) # works like append  ops

mylist

[44, 11, 55, 22, 66, 33, 77]

In [91]:
# Subsitution

mylist[3]

22

In [92]:
mylist[3] = "TWo"

mylist

[44, 11, 55, 'TWo', 66, 33, 77]

In [93]:
mylist.insert(3, "Python")

mylist

[44, 11, 55, 'Python', 'TWo', 66, 33, 77]

In [94]:
# Question: list.pop() vs list.remove()

print(f"{mylist.pop() =}")
print(f"{mylist       =}\n")

mylist.pop() =77
mylist       =[44, 11, 55, 'Python', 'TWo', 66, 33]

In [95]:
print(f"{mylist.pop() =}")
print(f"{mylist       =}\n")

mylist.pop() =33
mylist       =[44, 11, 55, 'Python', 'TWo', 66]

In [96]:
print(f"{mylist.pop() =}")   # by default, last index position value will be removed
print(f"{mylist       =}\n")

mylist.pop() =66
mylist       =[44, 11, 55, 'Python', 'TWo']

In [97]:
print(f"{mylist.pop(3) =}")   
print(f"{mylist       =}\n")

mylist.pop(3) ='Python'
mylist       =[44, 11, 55, 'TWo']

In [98]:
print(f"{mylist.pop(2) =}")    # removes second index position value
print(f"{mylist       =}\n")

mylist.pop(2) =55
mylist       =[44, 11, 'TWo']

In [99]:
mylist.pop(5)

IndexError: pop index out of range

In [100]:
mylist

[44, 11, 'TWo']

In [101]:
# To remove a specific element
print(f"{mylist.remove(11) =}")  # None
print(f"{mylist       =}\n")

mylist.remove(11) =None
mylist       =[44, 'TWo']

In [102]:
print(f"{mylist.remove(11) =}")  # None
print(f"{mylist       =}\n")

ValueError: list.remove(x): x not in list

In [103]:
mylist = [11, 11, 11, 11, 11]

mylist.remove(11)  # frst occurrance is removed

mylist

[11, 11, 11, 11]

In [104]:
# del - can remove an element or some indexed positions
mylist = ["a", "b", "c", "d", "e", "f"]
#          0    1   2     3    4    5

In [105]:
mylist[3]

'd'

In [106]:
del mylist[3]

In [107]:
mylist

['a', 'b', 'c', 'e', 'f']

In [108]:
mylist[1:5:2]

['b', 'e']

In [109]:
del mylist[1:5:2]

mylist

['a', 'c', 'f']

In [110]:
mylist.clear()

mylist

[]

In [111]:
del mylist

In [112]:
mylist

NameError: name 'mylist' is not defined

In [113]:
### list.sort vs Sorted() function

mylist = [1, 9, "1", "9", "a", "z", "A", "Z"]

mylist

[1, 9, '1', '9', 'a', 'z', 'A', 'Z']

In [114]:
sorted(mylist)

TypeError: '<' not supported between instances of 'str' and 'int'

In [115]:
mylist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [120]:
mylist = [ "a", "z", "1", "9", "A", "Z"]

mylist

['a', 'z', '1', '9', 'A', 'Z']

In [121]:
sorted(mylist)  # ascending based on ASCII values chr() & ord()

['1', '9', 'A', 'Z', 'a', 'z']

In [122]:
sorted(mylist, reverse=True) # new object is created

['z', 'a', 'Z', 'A', '9', '1']

In [123]:
mylist

['a', 'z', '1', '9', 'A', 'Z']

In [124]:
mylist.sort() # inplace

In [125]:
mylist

['1', '9', 'A', 'Z', 'a', 'z']

In [126]:
mylist.sort(reverse=True)

mylist

['z', 'a', 'Z', 'A', '9', '1']

In [127]:
name = ["ramesh", "suresh", "ganesh", "mahesh"]

sorted(name)

['ganesh', 'mahesh', 'ramesh', 'suresh']

In [128]:
name

['ramesh', 'suresh', 'ganesh', 'mahesh']

In [129]:
name.sort()

name

['ganesh', 'mahesh', 'ramesh', 'suresh']

In [130]:
name.sort(reverse=True)

name

['suresh', 'ramesh', 'mahesh', 'ganesh']

In [132]:
name.sort(reverse=True, key=len)

name

['suresh', 'ramesh', 'mahesh', 'ganesh']

In [1]:
names = ["cat", "dogg", "ball", "something", "anoth"]

sorted(names, reverse=True, key=len)

['something', 'anoth', 'dogg', 'ball', 'cat']

In [2]:
names

['cat', 'dogg', 'ball', 'something', 'anoth']

In [3]:
reversed(names)

In [4]:
names_reversed = reversed(names)

print(type(names_reversed), names_reversed)

<class 'list_reverseiterator'> <list_reverseiterator object at 0x7ff367212b00>

In [5]:
names_reversed = list(reversed(names))

print(type(names_reversed), names_reversed) # reversing the original order

<class 'list'> ['anoth', 'something', 'ball', 'dogg', 'cat']

In [6]:
names

['cat', 'dogg', 'ball', 'something', 'anoth']

In [7]:
names.reverse()

names

['anoth', 'something', 'ball', 'dogg', 'cat']

In [8]:
names[::-1]

['cat', 'dogg', 'ball', 'something', 'anoth']

In [9]:
# sorted() vs list.sort()
# reversed() vs list.reverse() vs list[::-1]

### COPY PROBLEM
    assignment vs Shallow copy vs deep copy

Detailed Explanation: https://www.youtube.com/watch?v=yjYIyydmrc0

In [10]:
# immutable object
num1 = 123
print("num1          ", num1, type(num1), id(num1))


num2 = num1
print("num2          ", num2, type(num2), id(num2))

num1           123 <class 'int'> 140683431448624
num2           123 <class 'int'> 140683431448624

In [11]:
num2 = 999
print("num1          ", num1, type(num1), id(num1))
print("num2          ", num2, type(num2), id(num2))

num1           123 <class 'int'> 140683431448624
num2           999 <class 'int'> 140683384551568

In [12]:
# Mutable object
par_list = [11, 111, 1111]
print("par_list      ", par_list, type(par_list), id(par_list))

par_list       [11, 111, 1111] <class 'list'> 140683383943040

In [13]:
hard_copy_list = par_list
print("hard_copy_list", hard_copy_list, type(hard_copy_list), id(par_list))

hard_copy_list [11, 111, 1111] <class 'list'> 140683383943040

In [15]:
print("par_list[2]   ", par_list[2])

par_list[2] = 3333  # Substitution
print("par_list[2]   ", par_list[2])

par_list[2]    1111
par_list[2]    3333

In [16]:
print("par_list      ", par_list, type(par_list))

par_list       [11, 111, 3333] <class 'list'>

In [17]:
# leakage problem
print("hard_copy_list", hard_copy_list, type(hard_copy_list))

hard_copy_list [11, 111, 3333] <class 'list'>

In [18]:
import copy

# shallow copy
soft_copy_list = copy.copy(par_list)
print("soft_copy_list ", soft_copy_list, type(soft_copy_list), id(soft_copy_list))

soft_copy_list  [11, 111, 3333] <class 'list'> 140683383870656

In [20]:
print("hard_copy_list[2]", hard_copy_list[2])

hard_copy_list[2] = "FOUR"

print("par_list       ", par_list, type(par_list), id(par_list))
print("hard_copy_list ", hard_copy_list, type(hard_copy_list), id(hard_copy_list))
print("soft_copy_list ", soft_copy_list, type(soft_copy_list), id(soft_copy_list))

hard_copy_list[2] 3333
par_list        [11, 111, 'FOUR'] <class 'list'> 140683383943040
hard_copy_list  [11, 111, 'FOUR'] <class 'list'> 140683383943040
soft_copy_list  [11, 111, 3333] <class 'list'> 140683383870656

In [21]:
print("soft_copy_list[0]", soft_copy_list[0])

soft_copy_list[0] = "ZERO"

print("par_list       ", par_list, type(par_list), id(par_list))
print("hard_copy_list ", hard_copy_list, type(hard_copy_list), id(hard_copy_list))
print("soft_copy_list ", soft_copy_list, type(soft_copy_list), id(soft_copy_list))

soft_copy_list[0] 11
par_list        [11, 111, 'FOUR'] <class 'list'> 140683383943040
hard_copy_list  [11, 111, 'FOUR'] <class 'list'> 140683383943040
soft_copy_list  ['ZERO', 111, 3333] <class 'list'> 140683383870656

In [22]:
new_list = [90, 89, [78, 89, [4, 441, 6]]]

new_softcopy_list = copy.copy(new_list)  # soft copy or shallow copy
new_deepcopy_list = copy.deepcopy(new_list)


print("new_list          ", new_list, type(new_list), id(new_list))
print(    "new_softcopy_list ",     new_softcopy_list,     type(new_softcopy_list),     id(new_softcopy_list))
print(    "new_deepcopy_list ",     new_deepcopy_list,     type(new_deepcopy_list),     id(new_deepcopy_list))

new_list           [90, 89, [78, 89, [4, 441, 6]]] <class 'list'> 140683384207872
new_softcopy_list  [90, 89, [78, 89, [4, 441, 6]]] <class 'list'> 140683383876224
new_deepcopy_list  [90, 89, [78, 89, [4, 441, 6]]] <class 'list'> 140683384207168

In [25]:
print("new_list[2][2][1]", new_list[2][2][1])

new_list[2][2][1] = "FFO"

new_list[2][2][1] 441

In [26]:
print("new_list          ", new_list, type(new_list), id(new_list))
print(    "new_softcopy_list ",     new_softcopy_list,     type(new_softcopy_list),     id(new_softcopy_list))
print(    "new_deepcopy_list ",     new_deepcopy_list,     type(new_deepcopy_list),     id(new_deepcopy_list))

new_list           [90, 89, [78, 89, [4, 'FFO', 6]]] <class 'list'> 140683384207872
new_softcopy_list  [90, 89, [78, 89, [4, 'FFO', 6]]] <class 'list'> 140683383876224
new_deepcopy_list  [90, 89, [78, 89, [4, 441, 6]]] <class 'list'> 140683384207168

In [27]:
# NOTE:
# 1. soft(shallow) copy is fast, but cant work more than one dimension
# 2. deep copy is slow, but can work with objects of any number of dimensions

In [28]:
l1 = [12, 34]

In [29]:
l2 = l1[::]  # soft(shallow) copy

print(id(l1), id(l2))

140683331896448 140683331902336

In [30]:
l3 = [12, 34, [44, [55]]]

l4 = l3[::]

print(id(l3), id(l4))

140683384130432 140683384212352

In [31]:
l3[2][1][0] = 'five'

print(f"{l3 = }")
print(f"{l4 = }")

l3 = [12, 34, [44, ['five']]]
l4 = [12, 34, [44, ['five']]]

In [32]:
l5 = l2.copy()  # soft or shallow copy

In [33]:
# soft/shallow copy --- copy.copy(), list.copy(), list[::]
# deepcopy    --- copy.deepcopy

```
    Assignment
    ----------
    1) implement the stack mechanism - LIFO
    Take the values in run time
    1. push   - add an element
    2. pop    - delete last element
    3. status - stack size

    -       -
    |       |
    |       |
    ---------
    HINT: list.pop(), list.append(), len()


    2) implement the queue mechanism - FIFO
    Take the values in run time
    1. push   - add an element
    2. pop    - delete last element
    3. status - queue size
        --------
    ->         ->
        --------
    HINT: list.insert(), list.pop(), len()


```

### List referencing problem

In [36]:
my_list1 = []
print(f"{my_list1 =}") 

my_list1 = [] * 3
print(f"{my_list1 =}")

my_list1 =[]
my_list1 =[]

In [37]:
# Anti-pattern
my_list1 = [[]] * 3
print(f"{my_list1 =}")

my_list1 =[[], [], []]

In [38]:
my_list1[0].append(3)

In [39]:
print(f"{my_list1 =}")

my_list1 =[[3], [3], [3]]

In [40]:
# NOTE: that items in the sequence s are not copied; they are referenced multiple times.

In [42]:
my_list1[2] = [2]

my_list1

[[3], [3], [2]]

In [43]:
# SOLUTION
my_list2 = [[] for i in range(3)]
print(f"{my_list2 =}")

my_list2 =[[], [], []]

In [44]:
my_list2[0].append(3)
print(f"{my_list2 =}")

my_list2 =[[3], [], []]

In [45]:
my_list2[2].append(4)
print(f"{my_list2 =}")

my_list2 =[[3], [], [4]]