## Tuples
    - represented using paranthesis ()
    - Immutable objects - DONT SUPPORT INPLACE CHANGES

In [1]:
mylist = [12, 34.8, 500000, [6, 8], (5,)]
print("type(mylist)", type(mylist))
print("len(mylist)", len(mylist))

type(mylist) <class 'list'>
len(mylist) 5

In [2]:
mytuple = (12, 34.8, 500000, [6, 8], (5,))
print("\ntype(mytuple)", type(mytuple))
print("len(mytuple)", len(mytuple))

type(mytuple) <class 'tuple'>
len(mytuple) 5

In [4]:
another_tuple = (99.9,)    # Ensure , at end if there is single element in tuple
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [5]:
# NOTE: For tuple with single element, place comma at the end to recognize it as tuple; else recognizes as individual element

In [6]:
empty_tuple = ()  # tuple()
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [7]:
mytuple = 1, 2, 3
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(1, 2, 3)

In [8]:
mytuple = 1, 
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

In [9]:
mytuple = (12, 5, 6, 8, (5))
print(mytuple)

mytuple = (12, 5, 6, 8, (5,))
print(mytuple)

(12, 5, 6, 8, 5)
(12, 5, 6, 8, (5,))

In [10]:
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [11]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [12]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))

assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [13]:
# Tuple repetition operation - original object not modified
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)

print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [14]:
print(f"{mytuple  == (12, 5, 6, 8, (5,))     = }")
print(f"{mytuple.__eq__((12, 5, 6, 8, (5,))) = }")

mytuple  == (12, 5, 6, 8, (5,))     = True
mytuple.__eq__((12, 5, 6, 8, (5,))) = True

In [15]:
print("\n Tuple Attributes excluding dunder methods")
for each_attribute in dir(mytuple):
    if not each_attribute.startswith("__"):
        print(each_attribute)

 Tuple Attributes excluding dunder methods
count
index

In [16]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, (5,))
mytuple.count(5)       = 1

In [17]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [18]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [19]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

In [20]:
# Tuple concatenation
# Python is strictly type language
#   - operation is possible with same/similar types only
result = (9, 99) + (99,)
print("result   :", result)

result   : (9, 99, 99)

In [21]:
result = ((9, 99) + (99,),)
print("result   :", result)

result   : ((9, 99, 99),)

In [22]:
result = (9, 99) + (11, 1)
print("result   :", result)

result   : (9, 99, 11, 1)

In [23]:
result = (9, 99) + [11, 1]

TypeError: can only concatenate tuple (not "list") to tuple

In [24]:
result = (9, 99) + tuple([11, 1])
print("result   :", result)

result = list((9, 99)) + [11, 1]
print("result   :", result)

result   : (9, 99, 11, 1)
result   : [9, 99, 11, 1]

In [25]:
# working on strings
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

In [26]:
# Tuple repetition
print(f"{(1,) * 3      =}")
print(f"{(1, 2) * 3    =}")
print(f"{(1, (2,)) * 3 =}")

(1,) * 3      =(1, 1, 1)
(1, 2) * 3    =(1, 2, 1, 2, 1, 2)
(1, (2,)) * 3 =(1, (2,), 1, (2,), 1, (2,))

In [27]:
# Assignment
# 1. Prove that tuple concatenation is not commutative: t1 + t2 != t2 + t1
# 2. Prove that tuple repetition is commutative       : t1 * 3 == 3 * t1

### Tuples are immutable
    - They doesnt support in-object changes

In [28]:
mytuple = (1, 2, 3)
#          0  1  2
print("mytuple", mytuple, id(mytuple))

#  Indexing
print(f"{mytuple[2] =}")

mytuple (1, 2, 3) 140030518434304
mytuple[2] =3

In [29]:
# updating an element in tuple
try:
    mytuple[2] = "2.2222"
except TypeError as ex:
    print(ex)
    print("tuple objects are not editable")

'tuple' object does not support item assignment
tuple objects are not editable

In [30]:
# Overwriting
print("\noverwriting (re-assigning)")
mytuple = (1, "2.2222", 3)
print("mytuple", mytuple, id(mytuple))

overwriting (re-assigning)
mytuple (1, '2.2222', 3) 140030369960960

### Named Tuples

    Named Tuples can be:
        1. access by index - like normal tuples
        2. access by keyname - like dictionaries
        3. using getattr()

In [31]:
student_details = ("Arjun", 26, "23/07/1992")
#                    0      1         2
print(f"{type(student_details)=}")
print(f"{student_details      =}")

type(student_details)=<class 'tuple'>
student_details      =('Arjun', 26, '23/07/1992')

In [33]:
# Accessing Values - using index
print("Student Name:", student_details[0])
print("Student Age :", student_details[1])
print("Student DOB :", student_details[2])

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [34]:
import collections

Students = collections.namedtuple("Students", ("name", "age", "dob"))

print(type(Students), Students)

<class 'type'> <class '__main__.Students'>

In [35]:
# Step 2: create tuples using that object
student_details2 = Students("Arjun", 26, "23/07/1992")

print(type(student_details2), student_details2)

<class '__main__.Students'> Students(name='Arjun', age=26, dob='23/07/1992')

In [36]:
# Accessing Values - using index
print("Student Name:", student_details2[0])
print("Student Age :", student_details2[1])
print("Student DOB :", student_details2[2])
print()

# Accssing Values - using position names
print("Student Name:", student_details2.name)
print("Student Age :", student_details2.age)
print("Student DOB :", student_details2.dob)

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [37]:
print(f"{getattr(student_details2, 'name') =}")

assert student_details2.name == getattr(student_details2, "name")
assert student_details2.age == getattr(student_details2, "age")
assert student_details2.dob == getattr(student_details2, "dob")

getattr(student_details2, 'name') ='Arjun'

In [40]:
student_details2[4]

IndexError: tuple index out of range

In [41]:
student_details2.full_name

AttributeError: 'Students' object has no attribute 'full_name'

In [42]:
getattr(student_details2, 'full_name')

AttributeError: 'Students' object has no attribute 'full_name'

In [44]:
"full_name" in dir(student_details2)

False

In [45]:
print(f"{hasattr(student_details2, 'full_name') =}")

hasattr(student_details2, 'full_name') =False

In [46]:
if hasattr(student_details2, "full_name"):
    getattr(student_details2, "full_name")

if hasattr(student_details2, "dob"):
    print(f"{getattr(student_details2, 'dob') =}")

getattr(student_details2, 'dob') ='23/07/1992'

In [47]:
# Named Tuples are also immutable

student_details2[1] = 45

TypeError: 'Students' object does not support item assignment

In [48]:
student_details2.age = 45

AttributeError: can't set attribute

In [49]:
setattr(student_details2, 'age', 45)

AttributeError: can't set attribute

In [50]:
# conclusion -- getattr(), hasattr(), setattr(), delattr()

In [51]:
import math

# Ordinary tuples
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)


# using index referencing
line_length = math.sqrt((pt1[0] - pt2[0]) ** 2 + (pt1[1] - pt2[1]) ** 2)
print(line_length)

3.8078865529319543

In [52]:
import collections

Point = collections.namedtuple("Point", ("x", "y"))

pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)


# using correspinding attributes for indexing
line_length = math.sqrt((pt1.x - pt2.x) ** 2 + (pt1.y - pt2.y) ** 2)
print(line_length)

3.8078865529319543

In [53]:
import collections

Point = collections.namedtuple("Point", ["x", "y"])

pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)


# using correspinding attributes for indexing
line_length = math.sqrt((pt1.x - pt2.x) ** 2 + (pt1.y - pt2.y) ** 2)
print(line_length)

3.8078865529319543

In [54]:
import collections

Point = collections.namedtuple("Point", "x y")

pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)


# using correspinding attributes for indexing
line_length = math.sqrt((pt1.x - pt2.x) ** 2 + (pt1.y - pt2.y) ** 2)
print(line_length)

3.8078865529319543

In [55]:
# NOTE: use named tuples instead of tuples anywhere you think object notation will make your code more pythonic and more easily readable.

### Unpacking
    - works when same no. of variables and values are present on both sides

In [56]:
num1 = 12
num2 = 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [57]:
# unpacking
num1, num2 = 12, 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [58]:
p1, p2, p3, p4, p5 = 99, 88, 66, 77, 44
print(f"p1 = {p1}  p2 = {p2} p3 = {p3} p4 = {p4} p5 = {p5}")

p1 = 99  p2 = 88 p3 = 66 p4 = 77 p5 = 44

In [59]:
try:
    p1, p2, p3, p4 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

too many values to unpack (expected 4)

In [60]:
try:
    p1, p2, p3, p4, p5, p6 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

not enough values to unpack (expected 6, got 5)

In [61]:
p = 99, 88, 66, 77, 44
print(f"p={p} type(p)={type(p)}")

p=(99, 88, 66, 77, 44) type(p)=<class 'tuple'>

In [62]:
n1, n2 = 1, 2, 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [63]:
n1, *n2 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}")

n1=1
n2=[2, 3, 4, 5]

In [64]:
n1, *n2, n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")

n1=1
n2=[2, 3, 4]
n3=5

In [66]:
n1, *n2, n3, n4 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}\nn3={n3}\nn4={n4}")

n1=1
n2=[2, 3]
n3=4
n4=5