## Functions
            - code re-usability
            - To modularize the problem
            - Better maintenance of the code

In [1]:
# Method1
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [2]:
def hello():
    print("Hello world")


hello()
hello()
hello()
hello()

Hello world
Hello world
Hello world
Hello world

In [3]:
# Method 1
n = 9
binomial_expr = n**2 + 3 * n + 3
print(binomial_expr)

n = 34
binomial_expr = n**2 + 3 * n + 3
print(binomial_expr)

n = -0.98798
binomial_expr = n**2 + 3 * n + 3
print(binomial_expr)

111
1261
1.0121644804

In [4]:
# Method 2

def binomial_expression(x):
    binomial_expr = x**2 + 3 * x + 3
    print(binomial_expr)


binomial_expression(9)
binomial_expression(34)
binomial_expression(-0.98798)

111
1261
1.0121644804

In [9]:
lower_bound, upper_bound = 0, 10

even_nums = []
for i in range(lower_bound, upper_bound):
    if i % 2 == 0:
        even_nums.append(i)
print(even_nums)


lower_bound, upper_bound = 10, 30

even_nums = []
for i in range(lower_bound, upper_bound):
    if i % 2 == 0:
        even_nums.append(i)
print(even_nums)



lower_bound, upper_bound = 45, 57

even_nums = []
for i in range(lower_bound, upper_bound):
    if i % 2 == 0:
        even_nums.append(i)
print(even_nums)

[0, 2, 4, 6, 8]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[46, 48, 50, 52, 54, 56]

In [10]:
# Method 2 - using functions
def get_even_nums(min_val, max_val):
    even_nums = []
    for i in range(min_val, max_val):
        if i % 2 == 0:
            even_nums.append(i)
    print(even_nums)



get_even_nums(0, 10)
get_even_nums(45, 67)
get_even_nums(-3, 5)
get_even_nums(-34, 5)
get_even_nums(-3, 85)

[0, 2, 4, 6, 8]
[46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66]
[-2, 0, 2, 4]
[-34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2, 0, 2, 4]
[-2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84]

###  Defining functions

In [11]:
def function_name(arg1, arg2):
    #logic
    return 1

#### Type 1: Function with no arguments and no return value

In [12]:
# Function Definition

def hello():
    print("hello function is called")

__NOTE:__ Functions are called as first class objects in python

In [13]:
hello

In [15]:
num1 = 123
print(f"{num1       = }")
print(f"{type(num1) = }")
print(f"{id(num1)   = }")
print(f"{dir(num1)  = }")

num1       = 123
type(num1) = <class 'int'>
id(num1)   = 140284435255344
dir(num1)  = ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [16]:
num1 = 123.3
print(f"{num1       = }")
print(f"{type(num1) = }")
print(f"{id(num1)   = }")
print(f"{dir(num1)  = }")

num1       = 123.3
type(num1) = <class 'float'>
id(num1)   = 140284388283984
dir(num1)  = ['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [17]:
num1 = True
print(f"{num1       = }")
print(f"{type(num1) = }")
print(f"{id(num1)   = }")
print(f"{dir(num1)  = }")

num1       = True
type(num1) = <class 'bool'>
id(num1)   = 94750957273120
dir(num1)  = ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [18]:
print(f"{hello       = }")
print(f"{type(hello) = }")
print(f"{id(hello)   = }")
print(f"{dir(hello)  = }")

hello       = <function hello at 0x7f967875c8b0>
type(hello) = <class 'function'>
id(hello)   = 140284242806960
dir(hello)  = ['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [19]:
hello.__sizeof__()

128

In [20]:
num1 = 123

callable(num1)

False

In [21]:
num1()

TypeError: 'int' object is not callable

In [22]:
callable(hello)

True

In [23]:
hello()

hello function is called

In [24]:
# Function Definition
def hello():
    print("hello function is called")


# Function call
hello()

hello function is called

In [25]:
print(hello())

hello function is called
None

In [26]:
# Function Definition
def hello():
    print("hello function is called")
    return None # Default return is None

# Function call
print(hello())

hello function is called
None

In [27]:
# Function Definition
def hello():
    print("hello function is called")

# Function call
hello()

hello function is called

#### Type 2:  Function with one input argument and no return value

In [28]:
def hello_word():
    print("Hello function is called")


hello_word()

Hello function is called

In [29]:
# Function definitin


def hello(name):
    print(f"Hello {name}")

In [30]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [31]:
hello("Python")

Hello Python

In [32]:
hello("world")

Hello world

In [33]:
hello("Python", "world")

TypeError: hello() takes 1 positional argument but 2 were given

__NOTE:__ 

    function calls
        1. by positional arguments
        2. by keyword arguments

In [34]:
def hello(name):
    print("Hello " + name)


# hello()  # throw error
hello("Python")     # by position -- give exact number of values
# hello("Python", "word")  # throw error

Hello Python

In [35]:
hello(name="Python") # by keywords -- give exact names of arguments

Hello Python

In [36]:
hello(student_name="Python")

TypeError: hello() got an unexpected keyword argument 'student_name'

#### Type 3: Function with two arguments and no return value

In [37]:
# Function Definition


def hello(name, age):
    print(f"{name}'s age is {age}")

In [41]:
#  Function call by position

# hello()  # TypeError: hello() missing 2 required positional arguments: 'name' and 'age'
# hello("GudoVanRussom")  # TypeError: hello() missing 1 required positional argument: 'age'

hello("GudoVanRussom", 67)

GudoVanRussom's age is 67

In [42]:
hello(67, "GudoVanRussom")

67's age is GudoVanRussom

In [43]:
# function call by keyword

hello(name="GudoVanRussom", age=67)

GudoVanRussom's age is 67

In [44]:
hello(age=67, name="GudoVanRussom")

GudoVanRussom's age is 67

#### Type 4: Function with two arguments and default return value

In [46]:
# Function Definition
def addition(n1, n2):
    pass

# Function call
addition(13, 64)

In [47]:
print(addition(13, 64))  # Defualt return is None

None

In [48]:
# Function Definition
def addition(n1, n2):
    return

# Function call
answer = addition(13, 64)
print(type(answer), answer)

<class 'NoneType'> None

In [49]:
# Function Definition
def addition(n1, n2):
    return None

# Function call
answer = addition(13, 64)
print(type(answer), answer)

<class 'NoneType'> None

In [50]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2

# Function call
answer = addition(13, 64)
print(type(answer), answer)

<class 'NoneType'> None

In [51]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return result

# Function call
answer = addition(13, 64)
print(type(answer), answer)

<class 'int'> 77

In [52]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return result

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'int'> 58

In [53]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return result        # NOTE: function exists once return is encountered
    return None

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'int'> 58

In [54]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return 100
    return result        # NOTE: function exists once return is encountered
    return None

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'int'> 100

In [55]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return 100.
    return result        # NOTE: function exists once return is encountered
    return None

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'float'> 100.0

In [56]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return 100.,
    return result        # NOTE: function exists once return is encountered
    return None

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'tuple'> (100.0,)

In [57]:
# Function Definition
def addition(n1, n2):
    result = n1 + n2
    return 100., 100
    return 100.,
    return result        # NOTE: function exists once return is encountered
    return None

# Function call
answer = addition(13, 45)
print(type(answer), answer)

<class 'tuple'> (100.0, 100)

In [59]:
# Function Definition
def comparion(n1, n2):
    if n1 > n2:
        return n1
    elif n1 < n2:
        return n2
    else:
        return "equal"

# Function call
answer = comparion(13, 45)
print(type(answer), answer)

<class 'int'> 45

In [60]:
# NOTE:
# 1. By default, function return is None
# 2. return is the last executing statement in a function

In [61]:
# UNPACKING ------------------------------
num1 = 123
num2 = 323
print(f"num1:{num1} num2:{num2}")

num1, num2 = 123, 323  # unpacking
print(f"num1:{num1} num2:{num2}")

num1:123 num2:323
num1:123 num2:323

In [62]:
num1 = 123
num2 = 323
num3 = 423
print(f"num1:{num1} num2:{num2} num3:{num3}")

num1, num2, num3 = 123, 323, 423  # unpacking
print(f"num1:{num1} num2:{num2} num3:{num3}")

num1:123 num2:323 num3:423
num1:123 num2:323 num3:423

In [63]:
# num1, num2, num3 = 123, 323  #ValueError: not enough values to unpack (expected 3, got 2)
# num1, num2 = 123, 323, 423  # ValueError: too many values to unpack (expected 2)


num1 = 123, 323, 423  # treats as a tuple
print(f"{type(num1), num1}")

(<class 'tuple'>, (123, 323, 423))

In [64]:
print(f"{int(1123.123) =}")  # returns single value
print(f"{pow(2, 3)     =}")  # returns single value
print(f"{divmod(20, 3) =}")  # returns two values

int(1123.123) =1123
pow(2, 3)     =8
divmod(20, 3) =(6, 2)

In [65]:
num = int(1123.123)
powVal = pow(2, 3)
quotient, remainder = divmod(20, 3)

In [66]:
# Function Definition
def hello():
    return 123, 45

# Function Call
hello()

(123, 45)

In [67]:
result = hello()
print(f"{type(result)}, {result}")  # <class 'tuple'>, (123, 45)

<class 'tuple'>, (123, 45)

In [68]:
result1 = result[0]
result2 = result[1]
print(f"result1: {result1}")  # 123
print(f"result2: {result2}")  # 45

result1: 123
result2: 45

In [69]:
result1, result2 = hello()  # unpacking
print(f"result1: {result1}")  # 123
print(f"result2: {result2}")  # 45

result1: 123
result2: 45

In [70]:
def mydivmod(numerator, denominator):
    quotient = numerator // denominator
    remainder = numerator % denominator
    return quotient, remainder


print(f"{mydivmod(10, 2)    = }")
print(f"{divmod(10, 2)      = }")

mydivmod(10, 2)    = (5, 0)
divmod(10, 2)      = (5, 0)

In [71]:
print(f"{mydivmod(10, 3)    = }")
print(f"{divmod(10, 3)      = }")

mydivmod(10, 3)    = (3, 1)
divmod(10, 3)      = (3, 1)

In [72]:
qt , remaind = mydivmod(10, 3)

print(qt, remaind)

3 1

##### problem: to display the addition of given values

In [73]:
def addition(num1, num2, num3):
    result = num1 + num2 + num3
    return result


# Function call
addition(10, 20, 30)

60

In [74]:
result = addition(10, 20, 30)
print(f"result:{result}")

result:60

In [75]:
# --- sum() - builtin function for adding values
sum(10, 20, 30)

TypeError: sum() takes at most 2 arguments (3 given)

In [76]:
sum([10, 20, 30])

60

In [77]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [78]:
result = sum([10, 20, 30])
print(f"result:{result}")

result = sum((10, 20, 30))
print(f"result:{result}")

result = sum({10, 20, 30})
print(f"result:{result}")

result:60
result:60
result:60

In [79]:
result = sum((10, 20, 30), 0)
print(f"result:{result}")  # 60

result = sum((10, 20, 30), -10)
print(f"result:{result}")  # 50

result = sum((10, 20, 30), 3)
print(f"result:{result}")  # 63

result = sum((10, 20, 30, 50.0))
print(f"result:{result}")

result = sum({10, 20, 20, 30, 50.0})
print(f"result:{result}")

result = sum({10: "a", 20: "b", 30: "c", 50.0: "d"})
print(f"result:{result}")  # by default, dict gives keys when iterating

result = sum({10: "a", 20: "b", 30: "c", 50.0: "d"}.keys())
print(f"result:{result}")

result:60
result:50
result:63
result:110.0
result:110.0
result:110.0
result:110.0

In [80]:
result = sum({10: 'a', 20: 'b', 30: 'c', 50.: 'd'}.values())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
sum({10: 'a', 20: 'b', 30: 'c', 50.: 'd'}.values(), '')

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [83]:
print("".join(["a", "b", "c", "d"]))
print("".join(("a", "b", "c", "d")))
print("".join({"a", "b", "c", "d"}))

abcd
abcd
adcb

In [87]:
# Question: flattening the lists

my_data = [[1, 2], [3, 4], [5, 6], [7, 8]]

# Method 1:
flat_data = []
for each in my_data:
    # flat_data.extend(each)
    flat_data += each

print(flat_data)

[1, 2, 3, 4, 5, 6, 7, 8]

In [90]:
# Method 2:
# sum(my_data)

# sum(my_data, 0)

sum(my_data, [])

[1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
sum([[1, 2], [3, 4], [5, 6], [7, 8]], [])

[1, 2, 3, 4, 5, 6, 7, 8]

In [92]:
my_data = [(1, 2), (3, 4), (5, 6), (7, 8)]
print(sum(my_data, ()))

(1, 2, 3, 4, 5, 6, 7, 8)

In [93]:
my_data = [{1, 2}, {3, 4}, {5, 6}, {7, 8}]

print(sum(my_data, set()))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [95]:
my_data = ((1, 2), [3, 4], (5, 6))

# sum(my_data, [])
sum(my_data, ())

TypeError: can only concatenate tuple (not "list") to tuple

In [96]:
my_data = ((1, 2), 3, 4, (5, 6))

sum(my_data)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

Assignment
----------
1) write a function to mimick the sum() function.
    Caution: don't create function with same name

2) write a function to implement the following:
    - input: ((1,2), 3,4, [5, 6])
    - output: (1, 2, 3, 4, 5, 6)

    HINT: isinstance() - builtin function
          int(), float(), list(), tuple(), set()
          list.append(), list.extend
          list & tuple concatenation

In [98]:
print(f'type(int) is type(123)  :{type(int) is type(123)}')
print(f"isinstance(123, int)    :{isinstance(123, int)}")

type(int) is type(123)  :False
isinstance(123, int)    :True

In [99]:
print(f"isinstance(10.3, int)   :{isinstance(10.3, int)}")
print(f"isinstance(10.3, float) :{isinstance(10.3, float)}")

isinstance(10.3, int)   :False
isinstance(10.3, float) :True

#### Type 5: Function overwriting Problem
    
    -  Python doesn't support function overloading

In [100]:
num1 = 100
num1 = 200


num1

200

In [101]:
# Case 1
def addition(var1, var2, var3):
    return var1 + var2 + var3


def addition(num1, num2):
    return num1 + num2

In [103]:
addition(10, 20, 30)

TypeError: addition() takes 2 positional arguments but 3 were given

In [104]:
addition(10, 20)

30

In [105]:
# Case 2
def addition(num1, num2):
    return num1 + num2


def addition(var1, var2, var3):
    return var1 + var2 + var3

In [106]:
addition(10, 20, 30)

60

In [107]:
addition(10, 20)

TypeError: addition() missing 1 required positional argument: 'var3'

##### Type 6: Function with default arguments

In [108]:
# def addition(num1, num2):
#     return num1 + num2


def addition(var1, var2, var3=0):
    return var1 + var2 + var3



print(f"{addition(10, 20)     =}")
print(f"{addition(10, 20, 30) =}")

addition(10, 20)     =30
addition(10, 20, 30) =60

__NOTE:__ In function definition, default args must be specified at the end only

In [109]:
print(f"{addition.__sizeof__() =}")
print(f"{addition.__name__     =}")
print(f"{addition.__defaults__ =}")

addition.__sizeof__() =128
addition.__name__     ='addition'
addition.__defaults__ =(0,)

In [110]:
def hello():
    print("Hello world!")

hello()


def hello(name):
    print(f"Hello {name}!")

hello("Python")

Hello world!
Hello Python!

In [111]:
def hello(name="world"):
    print(f"Hello {name}!")

hello()
hello("Python")

Hello world!
Hello Python!

In [112]:
def statement_creator(age = 24, name,  qualification='B.Tech'):
    print(f"{name}'s age is {age}. qualification is {qualification}")

SyntaxError: non-default argument follows default argument (3929670130.py, line 1)

In [113]:
def statement_creator(name, age = 24, qualification='B.Tech'):
    print(f"{name}'s age is {age}. qualification is {qualification}")

In [114]:
statement_creator.__defaults__

(24, 'B.Tech')

In [115]:
statement_creator()

TypeError: statement_creator() missing 1 required positional argument: 'name'

In [116]:
statement_creator("Udhay")
statement_creator(name="Udhay")

Udhay's age is 24. qualification is B.Tech
Udhay's age is 24. qualification is B.Tech

In [117]:
statement_creator("Udhay", 28)
statement_creator(name="Udhay", age=28)

Udhay's age is 28. qualification is B.Tech
Udhay's age is 28. qualification is B.Tech

In [118]:
statement_creator("Udhay", 28, "M.Tech")
statement_creator(name="Udhay", age=28, qualification="M.Tech")

Udhay's age is 28. qualification is M.Tech
Udhay's age is 28. qualification is M.Tech

In [119]:
statement_creator(28)

28's age is 24. qualification is B.Tech

#### Type 7: Functions with default args -- Leakage Problem

In [125]:
# anti-patterns

def extend_list(val, my_list=[]):
    print(f"\t{id(my_list)=} {my_list =}")
    my_list.append(val)
    return my_list


list1 = extend_list(123, [])
print(f"list1:{list1}")


list2 = extend_list(10) # using default list
print(f"list2:{list2}")


list3 = extend_list("a")  # using default list
print(f"list3:{list3}")

	id(my_list)=140284236604544 my_list =[]
list1:[123]
	id(my_list)=140284236599424 my_list =[]
list2:[10]
	id(my_list)=140284236599424 my_list =[10]
list3:[10, 'a']

In [126]:
# solution
def extend_list(val, my_list=None):
    if my_list is None:
        my_list = []
    print(f"\t{id(my_list)=} {my_list =}")
    my_list.append(val)
    return my_list


list1 = extend_list(123, [])
print(f"list1:{list1}")


list2 = extend_list(10) # using default list
print(f"list2:{list2}")


list3 = extend_list("a")  # using default list
print(f"list3:{list3}")

	id(my_list)=140284236595520 my_list =[]
list1:[123]
	id(my_list)=140284236603648 my_list =[]
list2:[10]
	id(my_list)=140284236597504 my_list =[]
list3:['a']

In [127]:
# solution
def extend_list(val, my_list=None):
    # if my_list is None:
    #     my_list = []
    my_list = my_list or []  # Boolean short-circuiting
    print(f"\t{id(my_list)=} {my_list =}")
    my_list.append(val)
    return my_list


list1 = extend_list(123, [])
print(f"list1:{list1}")


list2 = extend_list(10) # using default list
print(f"list2:{list2}")


list3 = extend_list("a")  # using default list
print(f"list3:{list3}")

	id(my_list)=140284237364096 my_list =[]
list1:[123]
	id(my_list)=140284236601664 my_list =[]
list2:[10]
	id(my_list)=140284236595520 my_list =[]
list3:['a']

#### Type 8: Function with variable arguments

    variadic functions - functions which can process any no. of arguments

In [129]:
# built-in
# print is the simplest example of variadic function
print(12, "34", "three", "India", None, True, "sdas", 342432, 212.34)
print(12, "34", "three")
print(12, "34")
print(12)
print()

12 34 three India None True sdas 342432 212.34
12 34 three
12 34
12

In [131]:
# Function definition
def addition(*nums):
    print(f"\nnums        :{nums}")
    print(f"type(nums)  :{type(nums)}")


# Function call
addition()
addition(10)
addition(10, 20)
addition(10, 20, 30)
addition(10, 20, 30, True, 30, "20", None, 30)

nums        :()
type(nums)  :<class 'tuple'>

nums        :(10,)
type(nums)  :<class 'tuple'>

nums        :(10, 20)
type(nums)  :<class 'tuple'>

nums        :(10, 20, 30)
type(nums)  :<class 'tuple'>

nums        :(10, 20, 30, True, 30, '20', None, 30)
type(nums)  :<class 'tuple'>

In [132]:
def print_function(*args):
    for each_arg in args:
        print(each_arg, sep=" ", end=" ")
    print()


print_function()
print_function(12)
print_function(12, "34")
print_function(12, "34", "three")
print_function(12, "34", "three", "India", 75, 34, "sdas", 342432, 212.34)

12
12 34
12 34 three
12 34 three India 75 34 sdas 342432 212.34

In [133]:
from datetime import datetime


def print_time_func(*args):
    print("\n", datetime.now(), end="::")
    for each_arg in args:
        print(each_arg, sep=" ", end=" ")


print_time_func(12, "34", "three", "India", None, True, "sdas", 342432, 212.34)
print_time_func(12, "34", "three")
print_time_func(12, "34")
print_time_func(12)
print_time_func()

 2023-05-06 16:07:23.721327::12 34 three India None True sdas 342432 212.34
 2023-05-06 16:07:23.722277::12 34 three
 2023-05-06 16:07:23.722365::12 34
 2023-05-06 16:07:23.722436::12
 2023-05-06 16:07:23.722499::

##### Type 9: Function with variable keyword arguments

In [134]:
def myfunc(**kwargs):
    print(type(kwargs), kwargs)


myfunc()
myfunc(name="Udhay")
myfunc(name="udhay", age=55)

<class 'dict'> {}
<class 'dict'> {'name': 'Udhay'}
<class 'dict'> {'name': 'udhay', 'age': 55}

In [136]:
def hello(*given, **feed_in):
    print("\ntype(given)  ", type(given))
    print("type(feed_in) ", type(feed_in))

    print("given   " + str(given))
    print("feed_in " + str(feed_in))

In [137]:
# Function Call
hello()  # 0 inputs

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   ()
feed_in {}

In [138]:
hello("santosh")  # 1 input

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   ('santosh',)
feed_in {}

In [139]:
hello(name="santosh")  # 1 input

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   ()
feed_in {'name': 'santosh'}

In [140]:
hello("siddanth", 34)  # 2 args
print()
hello(name1="siddanth", age=34)  # 2 args

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   ('siddanth', 34)
feed_in {}


type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   ()
feed_in {'name1': 'siddanth', 'age': 34}

In [141]:
hello(  212.34, "India", 75, 
        number=34, mystring="sdas", largest=342432)

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   (212.34, 'India', 75)
feed_in {'number': 34, 'mystring': 'sdas', 'largest': 342432}

In [142]:
hello(  212.34, "India", 75, 
        number=34, mystring="sdas", largest=342432, 88, 99)

SyntaxError: positional argument follows keyword argument (1591544197.py, line 2)

In [143]:
hello(  212.34, "India", 75, 88, 99,
        number=34, mystring="sdas", largest=342432)

type(given)   <class 'tuple'>
type(feed_in)  <class 'dict'>
given   (212.34, 'India', 75, 88, 99)
feed_in {'number': 34, 'mystring': 'sdas', 'largest': 342432}

```

    def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
            -----------    ----------     ----------
                |             |                  |
                |        Positional or keyword   |
                |                                - Keyword only
                -- Positional only

        When to use positional-only arguments
            Use positional-only if names do not matter or have no meaning, and there are only a few arguments which will always be passed in the same order.
            Use keyword-only when names have meaning and the function definition is more understandable by being explicit with names.

    NOTE: Introduced in python 3.8

```

In [144]:
def multiply_then_add(a, b, c, d=10):
    return a + b + c + d


print(multiply_then_add(5, 10, 20))
print(multiply_then_add(5, 10, 20, 89))

print(multiply_then_add(5, 10, 20, d=89))
print(multiply_then_add(a=5, b=10, c=20, d=89))

45
124
124
124

In [146]:
def multiply_then_add(a, b, c, /, d=10):
    """  args before / should be position only arguments"""
    return a + b + c + d


print(multiply_then_add(5, 10, 20))
print(multiply_then_add(5, 10, 20, 89))

print(multiply_then_add(5, 10, 20, d=89))

45
124
124

In [147]:
print(multiply_then_add(a=5, b=10, c=20, d=89))

TypeError: multiply_then_add() got some positional-only arguments passed as keyword arguments: 'a, b, c'

In [148]:
print(f"{pow(4, 2)       =}")
print(f"{pow(4, 2, 10)   =}")

pow(4, 2)       =16
pow(4, 2, 10)   =6

In [149]:
def power(x, y, /, mod=None):
    r = x**y
    if mod is not None:
        r %= mod
    return r


print(f"{power(4, 2)     =}")
print(f"{power(4, 2, 10) =}")
print(f"{power(4, 2, mod=10) =}")

power(4, 2)     =16
power(4, 2, 10) =6
power(4, 2, mod=10) =6

In [150]:
power(4, y=2, mod=10)

TypeError: power() got some positional-only arguments passed as keyword arguments: 'y'

#### Type 10: Function with Keyword ONLY args

In [151]:
def servr_login(server_name, user_name, password):
    print(
        f"""
        {server_name =}
        {user_name   =}
        {password    =}
    """
    )

servr_login("facebook.com", "udhay", "udhay123")  # correct order
servr_login("facebook.com", "udhay123", "udhay")
servr_login("udhay", "udhay123", "facebook.com")

        server_name ='facebook.com'
        user_name   ='udhay'
        password    ='udhay123'


        server_name ='facebook.com'
        user_name   ='udhay123'
        password    ='udhay'


        server_name ='udhay'
        user_name   ='udhay123'
        password    ='facebook.com'

In [152]:
def servr_login(server_name, *, user_name, password):
    print(
        f"""
        {server_name =}
        {user_name   =}
        {password    =}
    """
    )


servr_login("facebook.com", user_name="udhay", password="udhay123")
servr_login(server_name="facebook.com", user_name="udhay", password="udhay123")

        server_name ='facebook.com'
        user_name   ='udhay'
        password    ='udhay123'


        server_name ='facebook.com'
        user_name   ='udhay'
        password    ='udhay123'

In [153]:
servr_login('facebook.com', 'udhay123', 'udhay')

TypeError: servr_login() takes 1 positional argument but 3 were given

NOTE:


    Recommended order for the arguments
        def func(positional, keyword=value, *args, **kwargs):
            pass

In [154]:
def f(a, b, /, c, d, *, e, f):
    print(a, b, c, d, e, f)


f(10, 20, 30, d=40, e=50, f=60)

10 20 30 40 50 60