## Logical Operations
    - Will result in a boolean value (True or False)

    and - if  all are True, result is True
    or  - if any one of them is True, result is True
    not - negate the existing value

In [1]:
# and - If all are True, result is True; else False
print("\n and operation ")
print("True and True  ", True and True)  # True
print("True and False ", True and False)
print("False and True  ", False and True)
print("False and False ", False and False)

 and operation
True and True   True
True and False  False
False and True   False
False and False  False

In [2]:
# or - If all are False, result is False; else True
print("\n or operation ")
print("True or True  ", True or True)
print("True or False ", True or False)
print("False or True  ", False or True)
print("False or False ", False or False)  # False

 or operation
True or True   True
True or False  True
False or True   True
False or False  False

In [3]:
# not - Will negate the existing boolean result
print("\n not operation ")
print("not True ", not True)
print("not False", not False)
print("not not True = ", not not True)
print("not not False = ", not not False)

 not operation
not True  False
not False True
not not True =  True
not not False =  False

In [4]:
not not not not not not not False

True

In [5]:
not not not not not not not not not not not not True

True

In [6]:
expr2 = (45 <= 45) or (3 > 333)
# first relational ops and then logical ops
#        True      or   False   = True

print(expr2)

True

In [7]:
expr3 = (45 <= 45) or (3 > 333) and (9 == 9)
#          True    or    False  and   True
#          True    or           False       = True

expr3

True

In [8]:
expr4 = ((45 <= 45) or (3 > 333)) and (9 == 9)
#       (    True    or    False) and  True    # PEMDAS
#                   True          and  True  = True

expr4

True

In [9]:
expr5 = (45 <= 45) or (3 > 333) or (9 == 9)
#          True    or   False   or   True   # EXecution Order: Top to botom & Left to right
#                  True         or   True  = True

expr5

True

In [10]:
23 < 73 < 45

#   23 <73  and     73 <45
#     True  and      False = False

False

In [11]:
89 < 73 < 99 < 999 < 0
# 89 <73 and 73 <99 and 99< 999 and  999< 0
#  False and  True  and  True   and   False  = False

False

In [12]:
print(f"{11 == 11 == 11 =}")  # True
print(f"{11 != 12 != 13 =}")  # False
print(f"{11 != 12 != 11 =}")  # True

11 == 11 == 11 =True
11 != 12 != 13 =True
11 != 12 != 11 =True

## short-circuit logic

In [13]:
expr3 = 0 and 1  # 0
print("expr3=", expr3)

expr3= 0

In [14]:
expr4 = 3 and 9  # 9
print("expr4=", expr4)

expr4= 9

In [15]:
expr4 = 3 and 9 and 13  # 13
print("expr4=", expr4)

expr4= 13

In [16]:
expr4 = 3 and 13 and 9  # 9
print("expr4=", expr4)  # If all non-zeros, results last element

expr4= 9

In [17]:
1 and 2 and 3 and 4 and 67 and 3

3

In [18]:
1 and 2 and 3 and 0 and 67 and 3

0

In [19]:
expr5 = 0 or 1  # 1
print("expr5=", expr5)

expr6 = 3 or 9  # 3
print("expr6=", expr6)

expr6 = 3 or 9 or 13  # 3
print("expr6=", expr6)

expr6 = 13 or 9 or 3  # 13
print("expr6=", expr6)  # or is resulting first element

expr6 = 0 or 0 or 9 or 3  # 9
print("expr6=", expr6)  # first non-zero value

expr5= 1
expr6= 3
expr6= 3
expr6= 13
expr6= 9

In [20]:
1 and 2 and 3 and 4 and 67 and 3

3

In [21]:
1 and 2 and 3 and 0 and 67 and 3

0

In [22]:
1 or 2 or 3 or 4 or 67 or 3

1

In [23]:
0 or 2 or 3 or 4 or 67 or 3

2

In [24]:
0 or 0 or -3 or 4 or 67 or 3

-3

In [25]:
# and - returns 0, if anyone is 0; else the last value
print(f"{0 and 1 and 2 and 3 = }")  # 0
print(f"{1 and 2 and 3 and 4 = }")  # 4
print(f"{1 and 2 and 0 and 4 = }")  # 0
print(f"{1 and 2 and 3       = }")  # 3

0 and 1 and 2 and 3 = 0
1 and 2 and 3 and 4 = 4
1 and 2 and 0 and 4 = 0
1 and 2 and 3       = 3

In [26]:
# or - will take first boolean True value
print(f"{0 or 1 or 2 or 3    = }")  # 1
print(f"{1 or 2 or 3 or 4    = }")  # 1
print(f"{4.4 or 2 or 3 or 4  = }")  # 4.4

0 or 1 or 2 or 3    = 1
1 or 2 or 3 or 4    = 1
4.4 or 2 or 3 or 4  = 4.4

In [27]:
print(f"{0 or 1 and 2 or 3      = }")  # 2
print(f"{0 or (1 and 2) or 3    = }")  # 2

0 or 1 and 2 or 3      = 2
0 or (1 and 2) or 3    = 2

In [28]:
num1 = 234

num1 > 0  and num1 <= 0 and num1!= 0
# True    and    False

False